
.invoice-total-resp{
    background-color: #788395;
    border-radius: 5px;
    min-height: 80px;
    vertical-align: middle;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    margin-left: 20%;
    max-width: 312px;
    margin-top: 10px !important;
}
.invoice-due-resp{
    background-color: #982414;
    border-radius: 5px;
    min-height: 80px;
    vertical-align: middle;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    margin-left: 5%;
    max-width: 312px;
    margin-top: 10px !important;
}