<app-toaster [toaster]="toastData"></app-toaster>
<div class="limiter">
  <div class="container-login100 img-bg">
    <div class="wrap-password100">
        <!-- <div style='height: 49px;width: 500px;'> -->
            <img *ngIf="logo!=='' && logo!==null" class="logo-center" src="{{logo}}"/>
        <!-- </div> -->
      <br />
      <form novalidate [formGroup]="resetPasswordForm">
        <div class="ui segment">
          <h2>{{ 'resetPassword.resetPasswordHeading' | translate}}</h2>
          <div class="ui form">
            <div class="required inline field">
              <label class="reset-pw-label">{{ 'resetPassword.oldPassword' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password reset-pw-input" placeholder="Old Password" [attr.disabled]="isDisabled==true?true:null" formControlName="oldPassword" #oldPassword [type]="showOldPassword ? 'text' : 'password'" />
                <a class="ui icon view-pw" suiPopup popupInverted popupText="{{ this.showOldPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                  (click)="toggleShow('showOldPassword')">
                  <i [ngClass]="showOldPassword ? 'eye icon' : 'low vision icon'"></i>
                </a>
              </div>
              <span class="invalid-feedback">
                <span class="error-msg">
                  {{formErrors.oldPassword}}
                </span>
              </span>
            </div>
            <div class="required inline field">
              <label class="reset-pw-label">{{ 'resetPassword.newPassword' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password reset-pw-input" [attr.disabled]="isDisabled==true?true:null" placeholder="New Password" formControlName="newPassword" #newPassword [type]="showNewPassword ? 'text' : 'password'"
                  [ngClass]="{'is-invalid': (resetPasswordForm.get('newPassword').touched || resetPasswordForm.get('newPassword').dirty) && !resetPasswordForm.get('newPassword').valid }" />
                <a class="ui icon view-pw" suiPopup popupInverted popupText="{{ this.showNewPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                  (click)="toggleShow('showNewPassword')">
                  <i [ngClass]="showNewPassword ? 'eye icon' : 'low vision icon'"></i>
                </a>
              </div>
              <span class="invalid-feedback">
                <span class="error-msg">
                  {{formErrors.newPassword}}
                </span>
              </span>
            </div>
            <div class="required inline field">
              <label class="reset-pw-label">{{ 'resetPassword.confirmPassword' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password reset-pw-input" placeholder="Confirm Password" [attr.disabled]="isDisabled==true?true:null" formControlName="confirmPassword" #confirmPassword [type]="showConfirmPassword ? 'text' : 'password'"
                  [ngClass]="{'is-invalid': (resetPasswordForm.get('confirmPassword').touched || resetPasswordForm.get('confirmPassword').dirty) && !resetPasswordForm.get('confirmPassword').valid }" />
                <a class="ui icon view-pw" suiPopup popupInverted popupText="{{ this.showConfirmPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                  (click)="toggleShow('showConfirmPassword')">
                  <i [ngClass]="showConfirmPassword ? 'eye icon' : 'low vision icon'"></i>
                </a>
              </div>
              <span class="invalid-feedback">
                <span class="error-msg">
                  {{formErrors.confirmPassword}}
                </span>
              </span>
            </div>
            <div class="row">
              <span style="font-size: 8px;color: #D94235;">**Minimum eight characters, at least one letter, one number and one special character(&?#$_!@^%)</span>
            </div>
            <button [ngClass]="isLoader ? 'tiny ui orange button loading' : 'tiny ui orange button'" (click)="resetPassword()">{{ 'resetPassword.savePassword' | translate}}</button>
            <button class="ui tiny button" (click)="redirectToLogin()">{{ 'resetPassword.cancel' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template let-context let-modal="modal" #modalAcceptTerms>
  <div class="header">{{'resetPassword.acceptTerms' | translate}}
    <i #cancel (click)="modal.deny()" class="ng-hide" ></i>
  </div>
  <div class="content">
    <app-accept-terms (cancel)='closeModal($event)'></app-accept-terms>
  </div>
</ng-template>