<!-- <app-header></app-header> -->
<div class="main-content">
  <div class="ui three column stackable grid dashboard-block">
    <div class="three column row">
      <div class="column">
        <button class="fluid ui huge basic button">
          <i class="id card outline icon colorOne"></i>
          Create New Patient
        </button>
      </div>
      <div class="column">
        <button class="fluid ui huge basic button">
          <i class="address book outline icon colorTwo"></i>
          Collect Payment
        </button>
      </div>
      <div class="column">
        <button class="fluid ui huge basic button">
          <i class="sticky note outline icon colorThree"></i>
          Reports
        </button>
      </div>
    </div>
  </div>
<!-- <div class="ui grid dashboard-block">
  <div class="doubling four column row">
    <div class="column">
      <div class="ui segment">
        <div class="blocks">
          <h3 class="ui header">
            <i class="shield alternate icon icoPratham"></i>
            <div class="content">
              Admin Fraud Settings
            </div>
          </h3>
          <p>Block IP addresses, set Velocities and change Password</p></div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
          <div class="blocks">
          <h3 class="ui header">
            <i class="file outline icon icoDwitiya"></i>
            <div class="content">
              Reporting
            </div>
          </h3>
          <p>Run residual report to view profitablity of your accounts </p></div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
          <div class="blocks">
          <h3 class="ui header">
            <i class="id card outline icon icoTritiya"></i>
            <div class="content">
              User Roles
            </div>
          </h3>
          <p>Create roles and users and grant access within your organisation</p></div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
          <div class="blocks">
          <h3 class="ui header">
            <i class="chart line icon icoTuriya"></i>
            <div class="content">
              Rate Plan
            </div>
          </h3>
          <p>Edit, Delete and Add new Rate Plan</p></div>
      </div>
    </div>
  </div>
</div> -->

<div class="ui grid dashboard-block">
  <div class="doubling two column row">
    <div class="column">
      <div class="ui segment">
          <h3 class="ui header">Count & Volume of Transactions</h3>
          <!-- <img class="img-responsive" src="../../../../assets/images/chart01.jpg"/> -->
          <!-- <div *ngIf="chart"> -->
            <canvas id="canvas"></canvas>
          <!-- </div> -->
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
          <h3 class="ui header">Monthly Invoicing Amount</h3>
          <!-- <img class="img-responsive" src="../../../../assets/images/chart02.jpg"/> -->
          <canvas id="canvas1"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
</div>

