<app-toaster [toaster]="toastData"></app-toaster>
<div id="initialLoad">
  <form novalidate [formGroup]="findTransactionForm">
    <div class="main-content">
      <h1 class="ui header">
        {{channelType=='credit'? 'Credit Card' : channelType=='debit' ? 'Debit Card' :channelType=='ach' ? 'ACH'
        :channelType=='cash' ? 'Cash' :channelType=='check' ? 'Check' : channelType=='onetime' ? 'One Time': 'All' }}
        Transactions</h1>
      <div class="ui segment apf-search">
        <!-- <button class="tiny ui orange right floated button" [attr.disabled]="(channelType=='ach')?true:null"
          type="button" (click)="open()"><i
            class="dollar sign icon"></i>{{'transaction.find.virtualTerminal' | translate}}</button> -->
        <button class="tiny ui orange right floated button" type="button" *ngIf="permissions.addInvoice"
          (click)="openAddInvoice()">
          <i class="dollar icon"></i>{{'invoice.find.addInvoiceLabel' | translate}}
        </button>
        <div class="u-cf-m"></div>
        <sui-tabset>
          <div class="tiny ui secondary menu">
            <a class="item" suiTabHeader="2">{{'transaction.find.patient' | translate}}</a>
            <a class="item" suiTabHeader="1" *ngIf="channelType!='onetime'">{{'transaction.find.dateRange' |
              translate}}</a>
            <a class="item" suiTabHeader="5">{{'transaction.find.status' | translate}}</a>
            <!-- <a class="item" suiTabHeader="6"
              *ngIf="loggedInUserData.userType==0">{{'transaction.find.provider' | translate}}</a> -->
            <a class="item" suiTabHeader="3">{{'transaction.find.amount' | translate}}</a>
            <a class="item" suiTabHeader="4"
              *ngIf="channelType=='ach'|| channelType=='credit' || channelType=='debit'">{{channelType=='ach'? 'Account
              No' : 'Card No'}}</a>

            <!-- <a class="item" suiTabHeader="6" *ngIf="channelType!='debit'">{{'transaction.find.recurringName' | translate}}</a> -->
            <a class="item" suiTabHeader="7">{{'transaction.find.referenceNumber' | translate}}</a>
          </div>
          <div class="ui segment selection-area">
            <a class="ui label" *ngIf="findTransactionForm.value.StartDate && channelType!='onetime'">
              {{'transaction.find.date' | translate}}:
              {{getFormattedDateToDisplay(findTransactionForm.value.StartDate)}} -
              {{getFormattedDateToDisplay(findTransactionForm.value.EndDate)}}
              <i class="delete icon" (click)="clear('StartDate');clear('EndDate')"></i>
            </a>
            <a class="ui label"
              *ngIf="findTransactionForm.value.PatientName!=null && findTransactionForm.value.PatientName.length>0">
              {{'transaction.find.patient' | translate}}: {{displayPatientNameFilter}}
              <i class="delete icon" (click)="clear('PatientName')"></i>
            </a>
            <a class="ui label"
              *ngIf="findTransactionForm.value.AccountName!=null && findTransactionForm.value.AccountName.length>0">
              {{'transaction.find.account' | translate}}: {{displayCardNumberFilter}}
              <i class="delete icon" (click)="clear('AccountName')"></i>
            </a>
            <a class="ui label"
              *ngIf="findTransactionForm.value.ProviderName!=null && findTransactionForm.value.ProviderName.length>0">
              {{'transaction.find.provider' | translate}}: {{displayProviderNameFilter}}
              <i class="delete icon" (click)="clear('ProviderName')"></i>
            </a>
            <a class="ui label" *ngIf="findTransactionForm.value.MinAmount||findTransactionForm.value.MaxAmount">
              {{'transaction.find.amount' | translate}}: {{findTransactionForm.value.MinAmount}} <span
                *ngIf="findTransactionForm.value.MinAmount && findTransactionForm.value.MaxAmount">-</span>
              {{findTransactionForm.value.MaxAmount}}
              <i class="delete icon" (click)="clear('amount')"></i>
            </a>
            <a class="ui label"
              *ngIf="findTransactionForm.value.CardNo && (channelType=='ach'|| channelType=='credit' || channelType=='debit')">
              {{channelType=='ach'? 'Account No' : 'Card No'}}: {{findTransactionForm.value.CardNo}}
              <i class="delete icon" (click)="clear('CardNo')"></i>
            </a>
            <a class="ui label"
              *ngIf="findTransactionForm.value.Status!=null && findTransactionForm.value.Status.length>0">
              {{'transaction.find.status' | translate}}: {{displayTransactionStatusFilter}}
              <i class="delete icon" (click)="clear('Status')"></i>
            </a>
            <a class="ui label" *ngIf="findTransactionForm.value.InvoiceNumber">
              {{'Reference Number'}}: {{findTransactionForm.value.InvoiceNumber}}
              <i class=" delete icon" (click)="clear('InvoiceNumber')"></i>
            </a>
          </div>
          <!-- Date Range -->
          <div class="ui" suiTabContent="1" *ngIf="channelType!='onetime'">
            <div class="ui tiny form">
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input placeholder="Start Date" suiDatepicker [pickerMode]="dateMode" [pickerUseNativeOnMobile]="false"
                  [pickerMinDate]="minStartDate" [pickerMaxDate]="maxStartDate" formControlName="StartDate" #StartDate
                  readonly>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input placeholder="End Date" suiDatepicker [pickerMode]="dateMode" [pickerUseNativeOnMobile]="false"
                  [pickerMinDate]="minEndDate" [pickerMaxDate]="maxEndDate" formControlName="EndDate" #EndDate readonly>
              </div>
            </div>
            <div class="field">
              <span>{{formErrors.StartDate}}</span>
            </div>
          </div>
          <!-- Patient -->
          <div class="ui" suiTabContent="2">
            <!--<sui-multi-select [options]="searchPatientList"  formControlName="PatientName" labelField="displayName" valueField="id" [maxSelected]="5" icon="search" #PatientName (selectedOptionsChange)="onMultiSelectClick(PatientName, 'PatientName')">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input suiSelectSearch type="text" placeholder="Search options..." (input)="patientLookUp($event.target.value)">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="list icon"></i>
            {{'transaction.find.options' | translate}}
          </div>
          <div class="scrolling menu">
            <sui-select-option *ngFor="let o of PatientName.filteredOptions" [value]="o"></sui-select-option>
          </div>
          </sui-multi-select>-->
            <div class="ui tiny form">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="PatientName" #PatientName
                    (selectedOptionsChange)="onMultiSelectClick(PatientName, 'PatientName')" [hasLabels]="true"
                    [maxSelected]="5" labelField="displayName" valueField="id" [isSearchable]="true"
                    [options]="searchPatientList" icon="search">
                    <sui-select-option *ngFor="let o of PatientName.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
          </div>
          <!-- Provider -->
          <!-- <div class="ui" suiTabContent="6" *ngIf="loggedInUserData.userType==0">
            <div class="ui tiny form">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="ProviderName" #ProviderName
                    (selectedOptionsChange)="onMultiSelectClick(ProviderName, 'ProviderName')" [hasLabels]="true"
                    [maxSelected]="5" labelField="displayName" valueField="id" [isSearchable]="true"
                    [options]="providerList" icon="search">
                    <sui-select-option *ngFor="let o of ProviderName.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Amount -->
          <div class="ui" suiTabContent="3">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Min Amount" type="text" formControlName="MinAmount">
                  <span>{{formErrors.MinAmount}}</span>
                </div>
                <div class="field">
                  <input placeholder="Max Amount" type="text" formControlName="MaxAmount">
                  <span>{{formErrors.MaxAmount}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Card Number -->
          <div class="ui" suiTabContent="4" *ngIf="channelType=='ach'|| channelType=='credit' || channelType=='debit'">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Account/Card No (Last 4 digit)" type="text" formControlName="CardNo"
                    [maxlength]=inputValidation.transaction.find.cardNumber.maxLength>
                  <span>{{formErrors.CardNo}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Status -->
          <div class="ui" suiTabContent="5">
            <!--  <sui-multi-select [options]="transactionStatusList" formControlName="Status" labelField="statusName" valueField="id" [maxSelected]="5" icon="search" #Status (selectedOptionsChange)="onMultiSelectClick(Status, 'TransactionStatus')">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input suiSelectSearch type="text" placeholder="Search options...">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="list icon"></i>
            {{'transaction.find.options' | translate}}
          </div>
          <div class="scrolling menu">
            <sui-select-option *ngFor="let o of Status.filteredOptions" [value]="o"></sui-select-option>
          </div>
        </sui-multi-select>-->
            <div class="ui tiny form" *ngIf="channelType!='onetime'">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="Status" #Status
                    (selectedOptionsChange)="onMultiSelectClick(Status, 'TransactionStatus')" [hasLabels]="true"
                    [maxSelected]="5" labelField="statusName" valueField="id" [isSearchable]="true"
                    [options]="transactionStatusList" icon="search">
                    <sui-select-option *ngFor="let o of Status.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
            <div class="ui tiny form" *ngIf="channelType=='onetime'">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="Status" #Status
                    (selectedOptionsChange)="onMultiSelectClick(Status, 'TransactionStatus')" [hasLabels]="true"
                    [maxSelected]="5" labelField="statusName" valueField="statusName" [isSearchable]="true"
                    [options]="recurringPaymentStatusList" icon="search">
                    <sui-select-option *ngFor="let o of Status.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
          </div>
          <!-- Recurring Id -->
          <!-- <div class="ui" suiTabContent="6">
        <div class="ui tiny form">
          <div class="field">
            <sui-multi-select [options]="searchRecurringList"  formControlName="RecurringId" labelField="displayName" valueField="id" [maxSelected]="5" icon="search" #RecurringId (selectedOptionsChange)="onMultiSelectClick(RecurringId, 'RecurringName')">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input suiSelectSearch type="text" placeholder="Search options..." (input)="recurringLookUp($event.target.value)">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="list icon"></i>
                {{'transaction.find.options' | translate}}
              </div>
              <div class="scrolling menu">
                <sui-select-option *ngFor="let o of RecurringId.filteredOptions" [value]="o"></sui-select-option>
              </div>
            </sui-multi-select>
          </div>
        </div>
      </div> -->

          <!-- Invoice Number -->
          <div class="ui" suiTabContent="7">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Reference Number" type="text" formControlName="InvoiceNumber">
                  <span>{{formErrors.InvoiceNumber}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="ui clearing divider"></div>
          <button [ngClass]="isLoader ? 'tiny ui orange button loading' : 'tiny ui orange button'"
            class="tiny tiny ui orange button" type="submit"
            (click)="channelType=='onetime'?findAllRecurring():find()">{{'transaction.find.find' | translate}}</button>
          <button class="tiny ui button" (click)="clearForm()">{{'transaction.find.clear' | translate}}</button>
        </sui-tabset>
      </div>
      <sui-tabset>
        <div class="ui mini top attached tabular menu" style="flex-wrap: wrap;font-size: 1rem;">
          <a class="item" suiTabHeader="1" [isActive]="channelType=='all'" (click)="tabClick('all')">All</a>
          <a class="item" suiTabHeader="2" [isActive]="channelType=='credit'" (click)="tabClick('credit')">Credit</a>
          <a class="item" suiTabHeader="3" [isActive]="channelType=='debit'" (click)="tabClick('debit')">Debit</a>
          <a class="item" suiTabHeader="4" [isActive]="channelType=='ach'" (click)="tabClick('ach')">ACH</a>
          <a class="item" suiTabHeader="5" [isActive]="channelType=='check'" (click)="tabClick('check')">Check</a>
          <a class="item" suiTabHeader="6" [isActive]="channelType=='cash'" (click)="tabClick('cash')">Cash</a>
          <a class="item" suiTabHeader="7" [isActive]="channelType=='onetime'" (click)="tabClick('onetime')">One
            Time</a>
        </div>
        <div class="ui" suiTabContent="1">
          <!-- <ng-container *ngTemplateOutlet="findtransaction">
          </ng-container> -->
        </div>
        <div class="ui" suiTabContent="2">
          <!-- <ng-container *ngTemplateOutlet="findtransaction">
          </ng-container> -->
        </div>
        <div class="ui" suiTabContent="3">
          <!-- <ng-container *ngTemplateOutlet="findtransaction">
          </ng-container> -->
        </div>
        <div class="ui" suiTabContent="4">
          <!-- <ng-container *ngTemplateOutlet="findtransaction">
          </ng-container> -->
        </div>
        <div class="ui" suiTabContent="5">
          <!-- <ng-container *ngTemplateOutlet="findtransaction">
          </ng-container> -->
        </div>
        <div class="ui" suiTabContent="6">
          <!-- <ng-container *ngTemplateOutlet="findtransaction">
          </ng-container> -->
        </div>
        <div class="ui" suiTabContent="7">
          <!-- <ng-container *ngTemplateOutlet="findRecurringTemplate">
          </ng-container> -->
        </div>
      </sui-tabset>

      <br>
      <div *ngIf="channelType !='onetime'; else oneTimeContent">
        <ng-container *ngTemplateOutlet="findtransaction"></ng-container>
      </div>
      <ng-template #oneTimeContent>
        <ng-container *ngTemplateOutlet="findRecurringTemplate"></ng-container>
      </ng-template>

    </div>
  </form>
</div>


<ng-template let-context let-modal="modal" #modalAddTransaction>
  <div class="header">{{'transaction.add.acceptPayment' | translate}}
    <i #closeModal (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-add-transaction [InputData]="inputDataForOperation" (OutputData)="outputDataFromOperation($event)">
    </app-add-transaction>
  </div>
  <!-- <div class="actions">
      <div class="ui tiny">
        <button class="ui tiny primary button" autofocus (click)='onProcessTransactionClick()'>{{'transaction.find.processTransaction' | translate}}</button>
        <button class="ui tiny primary button" autofocus (click)='onResetFormsClick()'>{{'transaction.find.reset' | translate}}</button>
        <button class="ui tiny button" (click)="modal.deny()">{{'transaction.find.cancel' | translate}}</button>
      </div>
    </div> -->
</ng-template>

<ng-template let-context let-modal="modal" #modalTransactionOperations>
  <div class="header">{{typeOfOperationHeading}}
    <i #closeModal (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-transaction-operations [InputData]="inputDataForOperation"
      (OutputData)="outputDataFromTransactionOperation($event)"></app-transaction-operations>
  </div>
  <div class="actions">
    <div class="ui tiny">
      <button class="tiny ui orange button" autofocus *ngIf="typeOfOperationHeading=='Refund'"
        (click)='onPerformOperationClick()'>{{'transaction.find.refund' | translate}}</button>
      <button class="ui tiny button" (click)="modal.deny()"
        *ngIf="typeOfOperationHeading=='Receipt'">{{'transaction.find.close' | translate}}</button>
      <button class="ui tiny button" (click)="modal.deny()"
        *ngIf="typeOfOperationHeading!='Receipt'">{{'transaction.find.cancel' | translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template let-context let-modal="modal" #modalAddPatientAccount>
  <div class="header">
    <span>{{'patientAccount.add.heading' | translate}}</span>
    <i #closeAccountModal (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <!-- <div id="hellopaygateway"></div> -->
  <div class="content">

    <app-add-patient-account [InputData]="inputDataForAccountOperation" (OutputData)="outputDataFromAccount($event)">
    </app-add-patient-account>
  </div>
  <div class="actions">
    <div class="ui tiny">
      <button class="tiny ui orange button" autofocus (click)='onAddPatientAccountClick()'>{{'patient.add.save' |
        translate}}</button>
      <button class="tiny ui button" (click)="modal.deny()">{{'transaction.find.cancel' | translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #findtransaction>
  <div *ngIf="findClicked">
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="!isLoader && !searchResultFlag">
      <p>{{noResultsMessage}}</p>
    </sui-message>

    <div *ngIf="searchResultFlag">
      <form novalidate [formGroup]="transactionResultsForm">
        <div class="ui grid">
          <div class="eight wide column">
            <div class="ui mini compact segment sort">
              <div class="inline field sort-dd">
                <label>Sort by: </label>
                <sui-select class="selection" [options]="sortingItemsList" formControlName="Sorting" labelField="label"
                  valueField="label" (selectedOptionChange)="sortTransactions(Sorting,channelType)" #Sorting>
                  <sui-select-option *ngFor="let option of sortingItemsList" [value]="option"></sui-select-option>
                </sui-select>
              </div>
            </div>
          </div>
          <!-- <div class="right aligned eight wide column btn-export">
          <sui-select class="ui mini floating labeled basic icon button" icon="download" (selectedOptionChange)="download($event)"
            [isSearchable]="false" placeholder="Export" #filterSelect>
            <sui-select-option value="PDF"></sui-select-option>
            <sui-select-option value="CSV"></sui-select-option>
          </sui-select>
        </div>-->
        </div>
      </form>
      <!-- Credit/Debit -->
      <div *ngIf="channelType!='ach'">
        <div *ngFor="let transaction of transactionList" class="ui segment results">
          <div class="ui active  dimmer"
            *ngIf="transaction.isLoader_transactionOperation || transaction.isLoader_TransactionDetails">
            <div class="ui small text loader"></div>
          </div>
          <div class="results-crsr" (click)="getTransactionDetails(transaction)">
            <div class="ui right floated header">
              <!-- [ngClass]= "transaction.isLoader_TransactionDetails ? 'mini ui right floated button status green loading' : 'mini ui right floated button status green'" -->
              <button class="ui mini right floated button status green"
                *ngIf="transaction.transactionStatus=='Success' ||transaction.transactionStatus=='Refund Success'">{{transaction.transactionStatus}}</button>
              <button class="ui mini right floated button status red"
                *ngIf="transaction.transactionStatus=='Denied'||transaction.transactionStatus=='Failed' || transaction.transactionStatus=='Closed'">{{transaction.transactionStatus}}</button>
              <button class="ui mini right floated button status blue"
                *ngIf="transaction.transactionStatus!='Success' && transaction.transactionStatus!='Denied' && transaction.transactionStatus!='Failed' && transaction.transactionStatus!='Refund Success' && transaction.transactionStatus!='Closed'">{{transaction.transactionStatus}}</button>
              <div class="ui right pointing dropdown" suiDropdown (click)="$event.stopPropagation()"
                *ngIf="!(transaction.recurringId!=null && transaction.operationType=='Auth Only')">
                <i class="ellipsis horizontal icon"></i>
                <div class="menu" suiDropdownMenu>
                  <div class="item" *ngFor="let operation of transaction.operations"
                    (click)="onTransactionOperationClick(operation, transaction)">
                    <div class="w100">{{operation.value}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui horizontal list">
              <div class="item">
                <div class="content">
                  <div class="ui sub header">{{transaction.fullName}}
                    <span>&nbsp;&nbsp;$ {{transaction.tenderInfo.totalAmount.toFixed(2)}} </span>
                    <span *ngIf="transaction.paymentPlanId!=null">
                      <!-- should be displayed only for recurring transactions -->
                      <span class="small-text">&nbsp;&nbsp; <b>{{'transaction.find.recurringId' | translate}}:</b>
                        {{transaction.paymentPlanId}}</span>
                    </span>
                    <ng-container *ngIf="transaction.invoiceNumber != null && transaction.invoiceNumber != ''">
                      <span class="separator">|</span>
                      <span class="small-text"
                        style="text-transform: none !important;"><b>{{'transaction.find.invoiceNo' | translate}}:</b>
                        {{(transaction.invoiceNumber != null && transaction.invoiceNumber != '')?
                        transaction.invoiceNumber: '--'}}
                      </span>
                    </ng-container>
                  </div>

                  <strong> {{'transaction.find.txnDateTime' | translate}}:
                  </strong>{{getFormattedDate(transaction.transactionDate)}}
                  <span class="separator">|</span>

                  <ng-container
                    *ngIf="transaction.tenderInfo.channelType !== 10 && transaction.tenderInfo.channelType !== 9 && transaction.tenderInfo.channelType !==2">
                    {{transaction.tenderInfo.cardType}}:****{{transaction.tenderInfo.maskCardNumber}}<span
                      class="separator">|</span>
                  </ng-container>
                  <strong>{{'transaction.find.type' | translate}}: </strong>
                  {{transaction.operationType}}<span class="separator"
                    *ngIf="transaction.tenderInfo.channelType !== 9">|</span>

                  <ng-container *ngIf="transaction.tenderInfo.channelType === 10">
                    <strong>{{'transaction.find.chequeNumber' | translate}}:
                    </strong>{{transaction.tenderInfo.checkNumber}}
                  </ng-container>

                  <ng-container
                    *ngIf="transaction.tenderInfo.channelType !== 10 && transaction.tenderInfo.channelType !== 9 && transaction.tenderInfo.channelType !==2">
                    <strong>{{'transaction.find.nameOnCard' | translate}}:
                    </strong>{{transaction.tenderInfo.nameOnCheckOrCard}}
                  </ng-container>
                  <ng-container *ngIf="transaction.tenderInfo.channelType ===2">
                    <strong>{{'transaction.find.routingOrTransitNo' | translate}}:
                    </strong>{{transaction.tenderInfo.routingNumber != null ? transaction.tenderInfo.routingNumber: '--'
                    }}<span class="separator">|</span>
                    <strong>{{'transaction.find.accountNo' | translate}}:
                    </strong>{{transaction.tenderInfo.maskAccount != null ? '****'+transaction.tenderInfo.maskAccount:
                    '--' }}
                  </ng-container>
                </div>
              </div>
            </div>

          </div>
          <div class="ui divided list" [suiTransition]="transitionController" *ngIf="transaction.showDetails">
            <div class="item">
              <i class="info circle icon"></i>
              <div class="content">
                <strong>{{'transaction.find.totalAmount' | translate}}:
                </strong>{{transaction.tenderInfo.totalAmount.toFixed(2)}}
                <span class="separator">|</span>
                {{'transaction.find.amount' | translate}}: {{transaction.tenderInfo.amount.toFixed(2)}}<span
                  class="separator">|</span>
                <span> <strong>{{'customPlans.find.discount' | translate}}</strong>:
                  {{transaction.discountAmount | CustomFormatCurrency}}</span><span class="separator">|</span>
                {{'transaction.find.taxAmount' | translate}}:
                {{(transaction.tenderInfo.taxAmount !=null)?transaction.tenderInfo.taxAmount.toFixed(2):'0.00'}}
                <!--  {{'transaction.find.tipAmount' | translate}}: {{transaction.transactionDetails.tenderInfo.tipAmount.toFixed(2)}}<span class="separator">|</span>
               <span class="separator">|</span>
                {{'transaction.find.convAmount' | translate}}: {{transaction.transactionDetails.tenderInfo.convenienceAmount.toFixed(2)}}<span class="separator">|</span>
                {{'transaction.find.invoiceNo' | translate}}: {{transaction.transactionDetails.invoiceNo != null ? transaction.transactionDetails.invoiceNo : '--'}}-->
              </div>
            </div>
            <div class="item">
              <i class="building icon"></i>
              <div class="content">
                <!-- <strong>{{'transaction.find.companyName' | translate}}: </strong>{{transaction.transactionDetails.billingContact.companyName != null ? transaction.transactionDetails.billingContact.companyName : '--'}}
                <span class="separator">|</span>-->
                <strong>{{'transaction.find.email' | translate}}:
                </strong>{{(transaction.email != "") ? transaction.email : '--'}}
              </div>
            </div>
            <div class="item">
              <i class="map marker icon"></i>
              <div class="content">
                <strong>{{'transaction.find.address' | translate}}:
                </strong>{{transaction.fullAddress != '' ? transaction.fullAddress : '--'}}
              </div>
            </div>
            <div class="item"
              *ngIf="transaction.transactionStatus=='Failed' || transaction.transactionStatus=='Denied' || transaction.transactionStatus=='Hold' ||transaction.transactionStatus=='Closed'">
              <i class="info circle icon"></i>
              <div class="content">
                <strong class="negative"
                  *ngIf="transaction.transactionStatus=='Failed'">{{'transaction.find.reasonForFailure' | translate}}:
                </strong>
                <strong class="negative"
                  *ngIf="transaction.transactionStatus=='Denied'">{{'transaction.find.reasonForDeny' | translate}}:
                </strong>
                <strong class="negative"
                  *ngIf="transaction.transactionStatus=='Hold'">{{'transaction.find.reasonForHold' | translate}}:
                </strong>
                <strong class="negative"
                  *ngIf="transaction.transactionStatus=='Closed'">{{'transaction.find.reasonForClose' | translate}}:
                </strong>
                {{transaction.reasonStatus}}
                {{(transaction.additionResultData !== null)? ', ' + transaction.additionResultData: ''}}
                {{(transaction.additionResultData2 !== null)? ', ' + transaction.additionResultData2: ''}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ACH -->
      <div *ngIf="channelType=='ach'">
        <div *ngFor="let transaction of transactionList" class="ui segment results">
          <div class="ui active dimmer"
            *ngIf="transaction.isLoader_transactionOperation || transaction.isLoader_TransactionDetails">
            <div class="ui small text loader"></div>
          </div>
          <div class="results-crsr" (click)="getTransactionDetails(transaction)">
            <div class="ui right floated header">
              <button class="mini ui right floated button status green"
                *ngIf="transaction.transactionStatus=='Success'">{{transaction.transactionStatus}}</button>
              <button class="mini ui right floated button status red"
                *ngIf="transaction.transactionStatus=='Denied'||transaction.transactionStatus=='Failed' || transaction.transactionStatus=='Closed'">{{transaction.transactionStatus}}</button>
              <button class="mini ui right floated button status blue"
                *ngIf="transaction.transactionStatus!='Success' && transaction.transactionStatus!='Denied' && transaction.transactionStatus!='Failed' && transaction.transactionStatus!='Closed'">{{transaction.transactionStatus}}</button>
              <div class="ui right pointing dropdown" suiDropdown (click)="$event.stopPropagation()">
                <i class="ellipsis horizontal icon"></i>
                <div class="menu" suiDropdownMenu>
                  <div class="item" *ngFor="let operation of transaction.operations">
                    <div class="w100" (click)="onTransactionOperationClick(operation, transaction)">
                      {{operation.value}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui horizontal list">
              <div class="item">
                <div class="content">
                  <div class="ui sub header">{{transaction.fullName}}
                    <span>&nbsp;&nbsp;$ {{transaction.tenderInfo.totalAmount.toFixed(2)}}</span>
                    <span *ngIf="transaction.paymentPlanId !=null">
                      <!-- should be displayed only for recurring transactions -->
                      <span class="small-text">&nbsp;&nbsp; <b>{{'transaction.find.recurringId' | translate}}:</b>
                        {{transaction.paymentPlanId}}</span>
                    </span>
                  </div>
                  <strong>{{'transaction.find.txnDateTime' | translate}}:
                  </strong>{{getFormattedDate(transaction.transactionDate)}}
                  <!--<span class="separator">|</span>
              <strong>{{'transaction.find.authCode' | translate}}: </strong>{{transaction.authCode != null ? transaction.authCode : '--'}}--><span
                    class="separator">|</span>
                  <strong>{{'transaction.find.type' | translate}}: </strong>{{transaction.operationType}}<span
                    class="separator">|</span>
                  <strong>{{'transaction.find.routingOrTransitNo' | translate}}:
                  </strong>{{transaction.tenderInfo.routingNumber != null ? transaction.tenderInfo.routingNumber: '--'
                  }}<span class="separator">|</span>
                  <strong>{{'transaction.find.accountNo' | translate}}:
                  </strong>{{transaction.tenderInfo.maskAccount != null ? '****'+transaction.tenderInfo.maskAccount:
                  '--' }}
                  <!-- <span class="separator">|</span>
              <strong>{{'transaction.find.checkNo' | translate}}: </strong>{{transaction.chequeNumber != null ? transaction.chequeNumber : '--'}} -->
                </div>
              </div>
            </div>

            <div class="ui divided list" [suiTransition]="transitionController" *ngIf="transaction.showDetails">
              <div class="item">
                <i class="info circle icon"></i>
                <div class="content">
                  <strong>{{'transaction.find.totalAmount' | translate}}:
                  </strong>{{transaction.tenderInfo.totalAmount}}<span class="separator">|</span>
                  {{'transaction.find.amount' | translate}}: {{transaction.tenderInfo.amount.toFixed(2)}}<span
                    class="separator">|</span>
                  <span><strong>{{'customPlans.find.discount' | translate}}</strong>:
                    {{transaction.discountAmount | CustomFormatCurrency}}</span><span class="separator">|</span>
                  {{'transaction.find.taxAmount' | translate}}:
                  {{(transaction.tenderInfo.taxAmount !=null)?transaction.tenderInfo.taxAmount.toFixed(2):'0.00'}}
                </div>
              </div>
              <div class="item">
                <i class="building icon"></i>
                <div class="content">
                  <!--  <strong>{{'transaction.find.companyName' | translate}}: </strong>{{transaction.transactionDetails.billingContact.companyName != null ? transaction.transactionDetails.billingContact.companyName : '--'}}
            <span class="separator">|</span>-->
                  <strong>{{'transaction.find.email' | translate}}:
                  </strong>{{transaction.email != null ? transaction.email : '--'}}
                </div>
              </div>
              <div class="item">
                <i class="map marker icon"></i>
                <div class="content">
                  <strong>{{'transaction.find.address' | translate}}:
                  </strong>{{transaction.fullAddress != '' ? transaction.fullAddress : '--'}}
                </div>
              </div>
              <div class="item"
                *ngIf="transaction.transactionStatus=='Failed' || transaction.transactionStatus=='Denied' || transaction.transactionStatus=='Hold' || transaction.transactionStatus=='Closed'">
                <i class="info circle icon"></i>
                <div class="content">
                  <strong class="negative"
                    *ngIf="transaction.transactionStatus=='Failed'">{{'transaction.find.reasonForFailure' | translate}}:
                  </strong>
                  <strong class="negative"
                    *ngIf="transaction.transactionStatus=='Denied'">{{'transaction.find.reasonForDeny' | translate}}:
                  </strong>
                  <strong class="negative"
                    *ngIf="transaction.transactionStatus=='Hold'">{{'transaction.find.reasonForHold' | translate}}:
                  </strong>
                  <strong class="negative"
                    *ngIf="transaction.transactionStatus=='Closed'">{{'transaction.find.reasonForClose' | translate}}:
                  </strong>{{transaction.reasonStatus}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-pagination [pager]="pager" (OutputData)="findTransaction($event)"></app-pagination>
    </div>
  </div>
</ng-template>
<ng-template #findRecurringTemplate>
  <div *ngIf="findClicked">
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="!searchResultFlag && !isLoader">
      <p>{{ noResultsMessage }}</p>
    </sui-message>

    <div *ngIf="searchResultFlag">
      <form novalidate [formGroup]="transactionResultsForm">
        <div class="ui grid">
          <div class="eight wide column">
            <div class="ui mini compact segment sort">
              <div class="inline field sort-dd">
                <label>Sort by: </label>
                <sui-select class="selection" [options]="sortingRecurringItemsList" formControlName="Sorting"
                  labelField="label" valueField="label" (selectedOptionChange)="sortRecurring(SortRecurring)"
                  #SortRecurring>
                  <sui-select-option *ngFor="let option of sortingRecurringItemsList" [value]="option">
                  </sui-select-option>
                </sui-select>
              </div>
            </div>
          </div>
          <!--<div class="right aligned eight wide column btn-export">
                <sui-select class="ui mini floating labeled basic icon button" icon="download"
                  (selectedOptionChange)="download($event)" [isSearchable]="false" placeholder="Export" #filterSelect>
                  <sui-select-option value="PDF"></sui-select-option>
                  <sui-select-option value="CSV"></sui-select-option>
                </sui-select>
              </div>-->
        </div>
      </form>

      <div>
        <!-- div for forst record -->
        <!-- Find Recurring Payments Results -->
        <div *ngFor="let recurringPayment of recurringPaymentsList" class="ui segment results">
          <div class="ui active dimmer" *ngIf="recurringPayment.isLoader_recurringOperation">
            <div class="ui small text loader"></div>
          </div>
          <div class="results-crsr" (click)="getRecurringTransactionById(recurringPayment)">
            <!---->
            <div class="ui right floated header">
              <button class="ui mini right floated button status green"
                *ngIf="recurringPayment.status==2">{{'recurringPayments.find.active' | translate}}</button>
              <button class="ui mini right floated button status blue"
                *ngIf="recurringPayment.status==3">{{'recurringPayments.find.paid' | translate}}</button>
              <button class="ui mini right floated button status red"
                *ngIf="recurringPayment.status==8">{{'recurringPayments.find.cancelled' | translate}}</button>
              <button class="ui mini right floated button status red"
                *ngIf="recurringPayment.status==30">{{'recurringPayments.find.closed' | translate}}</button>
              <button class="ui mini right floated button status orange"
                *ngIf="recurringPayment.status==1">{{'recurringPayments.find.pendingForActivation' |
                translate}}</button>
              <button class="ui mini right floated button status red"
                *ngIf="recurringPayment.status==5">{{'recurringPayments.find.failed' | translate}}</button>
              <div class="ui right pointing dropdown" suiDropdown (click)="$event.stopPropagation()"
                *ngIf="recurringPayment.operations.length>0">
                <i class="ellipsis horizontal icon"></i>
                <div class="menu" suiDropdownMenu>
                  <div class="item" *ngFor="let operation of recurringPayment.operations"
                    (click)="onRecurringOperationClick(operation, recurringPayment)">
                    <div class="w100">{{operation.value}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui horizontal list">
              <div class="item">
                <div class="content">
                  <div class="ui sub header">{{recurringPayment.firstName}} {{recurringPayment.lastName}}
                    <span>&nbsp;&nbsp;{{recurringPayment.paymentAmount | CustomFormatCurrency}} </span>
                    <span>
                      <span class="small-text">&nbsp;&nbsp; <b>{{'transaction.find.recurringId' | translate}}:</b>
                        {{recurringPayment.id}}</span>
                    </span>
                  </div>

                  <strong> {{'transaction.find.OneTimetxnDate' | translate}}: </strong> {{recurringPayment.startDate !=
                  null ? getFormattedDate(recurringPayment.startDate) : '--'}}<span class="separator">|</span>
                  {{recurringPayment.cardType}}: ****{{recurringPayment.maskedCardNumber}}<span
                    class="separator">|</span>
                  <strong>{{'transaction.find.type' | translate}}: </strong>Schedule Payment
                  <span class="separator">|</span>
                  <strong>{{'transaction.find.createdOn' | translate}}:
                  </strong>{{getFormattedDate(recurringPayment.createdOn)}}
                  <!--<strong>{{'transaction.find.nameOnCard' | translate}}: </strong>{{recurringPayment.nameOnCheckOrCard}} -->
                </div>
              </div>
            </div>
            <div class="ui divided list" [suiTransition]="transitionController" *ngIf="recurringPayment.showDetails">
              <div class="item">
                <i class="info circle icon"></i>
                <div class="content">
                  <strong>{{'transaction.find.totalAmount' | translate}}: </strong>{{recurringPayment.totalAmount|
                  CustomFormatCurrency}}
                  <span class="separator">|</span>
                  {{'transaction.find.amount' | translate}}: {{recurringPayment.amount| CustomFormatCurrency}}<span
                    class="separator">|</span>
                  <span *ngIf="recurringPayment.discountType=='1'"> <strong>
                      {{'customPlans.find.discount' | translate}}</strong>:
                    {{recurringPayment.discountAmount | CustomFormatCurrency}}</span>
                  <span *ngIf="recurringPayment.discountType=='2'"> <strong>
                      {{'customPlans.find.discount' | translate}}</strong>:
                    {{recurringPayment.discountRate}}%</span><span class="separator">|</span>
                  {{'transaction.find.taxAmount' | translate}}:
                  {{recurringPayment.taxAmount| CustomFormatCurrency}}
                </div>
              </div>
              <div class="item">
                <i class="building icon"></i>
                <div class="content">
                  <strong>{{'transaction.find.email' | translate}}: </strong>{{recurringPayment.email != null ?
                  recurringPayment.email : '--'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-pagination [pager]="pager" (OutputData)="findPageRecurring($event)"></app-pagination>
      </div>
    </div>
  </div>
</ng-template>

<ng-template let-context let-modal="modal" #modalRecurringOperations>
  <div class="header">{{typeOfOperationHeading}}
    <i (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-recurring-operations [InputData]="inputDataForOperation"></app-recurring-operations>
  </div>
  <div class="actions">
    <div class="ui tiny">
      <button class="ui tiny button" (click)="modal.deny()">{{'recurringPayments.find.cancel' | translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template let-context let-modal="modal" #modalCancelPlan>
  <div class="header">
    <span>{{'recurringPayments.cancel.heading' | translate}}</span>
    <i #closeWizard (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-cancel-payment-plan [InputData]="inputDataForOperation" (OutputData)="outputDataFromCancelOperation($event)">
    </app-cancel-payment-plan>
  </div>
  <div class="actions">
    <div class="ui tiny">
      <button class="tiny ui orange button" (click)="cancelPaymentClick()"
        [disabled]="false">{{'recurringPayments.cancel.yes' | translate}}</button>
      <button class="ui tiny button" (click)="modal.deny()">{{'recurringPayments.cancel.no' | translate}}</button>
    </div>
  </div>

</ng-template>
<ng-template let-context let-modal="modal" #modalUpdatePlan>
  <div class="header">
    <span>{{(inputDataForUpdatePlan.hideSchedulePlan)!=true?('recurringPayments.update.heading' | translate):'Update
      Account'}}</span>
    <i #closePlanWizard (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-update-recurring (OutputData)="outputDataFromUpdatePlan($event)" [InputData]="inputDataForUpdatePlan">
    </app-update-recurring>
    <button class="tiny ui button" (click)="modal.deny()">{{'facility.add.cancel' | translate}}</button>


  </div>

</ng-template>


<!--Add Invoice Start-->
<ng-template let-context let-modal="modal" #modalAddInvoice>
  <div class="header">{{'invoice.add.header' | translate}}
    <i #closeModal (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-add-invoice (OutputData)="outputDataFromInvoiceOperation($event)" [InputData]="inputDataForInvoiceOperation">
    </app-add-invoice>
  </div>
</ng-template>
<!--Add Invoice End-->

<!-- Recurring Payment Start -->
<ng-template let-context let-modal="modal" #modalAddRecurringPayments>
  <div class="header">{{'recurringPayments.add.heading' | translate}}
    <i #cancel (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-add-recurring (cancel)='closeRecurringModal($event)' [InputData]="inputDataPaymentPlan"
      (OutputData)="outputDataFromAddRecurring($event)"></app-add-recurring>
  </div>
</ng-template>
<!-- Recurring Payment Start -->