<div class="ui active inverted dimmer"><!-- remove active and apply disabled to hide-->
  <div class="ui large text loader">&nbsp;</div>
</div>

<div class="ui segment">
    <p>Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! Page background text for loader works! </p>
</div>
  