<app-toaster [toaster]="toastData"></app-toaster>
<div class="limiter">
  <div class="container-login100 img-bg">
    <div class="wrap-login100">
        <!-- <div style='height: 49px;width: 500px;'> -->
            <img *ngIf="logo!=='' && logo!==null" class="logo-center" src="{{logo}}"/>
        <!-- </div> -->
      <br/>
      <form [formGroup]="forgotPasswordForm">
        <div class="ui segment">
          <h2>{{ 'forgotPassword.forgotPasswordHeading' | translate}}</h2>
          <p>Please enter your {{getLabel()}}, a temporary password will be sent to your registered email id</p>
          <div class="ui form">
            <div class="required inline field">
              <label>{{getLabel()}}</label>
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" placeholder="{{getPlaceHolder()}}" formControlName="userName" [ngClass]="{'is-invalid': (forgotPasswordForm.get('userName').touched || forgotPasswordForm.get('userName').dirty) && !forgotPasswordForm.get('userName').valid }" />                
              </div>
              <span class="invalid-feedback">
                <span class="error-msg">
                    {{formErrors.userName}}
                </span>
              </span>
            </div>
            <button [ngClass]= "isLoader ? 'tiny ui orange button loading' : 'tiny ui orange button'" (click)="forgotPassword()">{{ 'forgotPassword.sendTheLink' | translate}}</button>
            <!-- <button [ngClass]= "isLoader ? 'tiny ui orange button loading' : 'tiny ui orange button'" (click)="forgotUsername()">{{ 'login.forgotUsername' | translate}}</button> -->
            <button class="tiny ui button" (click)="cancel()">{{ 'forgotPassword.cancel' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>