<app-toaster [toaster]="toastData"></app-toaster>
<div id="initialLoad">
  <form novalidate [formGroup]="findAppointmentForm">
    <div class="main-content">
      <h1 class="ui header">{{'appointment.find.heading' | translate}}</h1>
      <div class="ui segment apf-search">
        <button
          [ngClass]="(patientListLoading || doctorListLoading || configurationsLoading)? 'tiny ui orange button loading' :'tiny ui orange right floated button'"
          class="tiny ui orange right floated button" type="button" *ngIf="permissions.addAppointment"
          (click)="openAddAppointment(undefined)"><i
            class="calendar check outline icon"></i>{{'appointment.find.addAppointment' | translate}}</button>
        <div class="u-cf-m"></div>
        <sui-tabset>
          <div class="tiny ui secondary menu">
            <a class="item" suiTabHeader="4">{{'appointment.find.practitioner' | translate}}</a>
            <a class="item" suiTabHeader="1">{{'appointment.find.patient' | translate}}</a>
            <a class="item" suiTabHeader="2">{{'appointment.find.mrn' | translate}}</a>
            <a class="item" suiTabHeader="3">{{'appointment.find.email' | translate}}</a>
          </div>
          <div class="ui segment selection-area">
            <a class="ui label"
              *ngIf="findAppointmentForm.value.PatientName!=null && findAppointmentForm.value.PatientName.length>0">
              {{'appointment.find.patient' | translate}}: {{displayPatientNameFilter}}
              <i class="delete icon" (click)="clear('PatientName')"></i>
            </a>
            <a class="ui label"
              *ngIf="findAppointmentForm.value.DoctorName!=null && findAppointmentForm.value.DoctorName.length>0">
              {{'appointment.find.doctor' | translate}}: {{displayDoctorNameFilter}}
              <i class="delete icon" (click)="clear('DoctorName')"></i>
            </a>
            <a class="ui label" *ngIf="findAppointmentForm.value.Email">
              {{'appointment.find.email' | translate}}: {{findAppointmentForm.value.Email}}
              <i class="delete icon" (click)="clear('Email')"></i>
            </a>
            <a class="ui label"
              *ngIf="findAppointmentForm.value.Status!=null && findAppointmentForm.value.Status.length>0">
              {{'appointment.find.mrn' | translate}}: {{findAppointmentForm.value.mrn}}
              <i class="delete icon" (click)="clear('Status')"></i>
            </a>
          </div>
          <!--Practitioner Name -->
          <div class="ui" suiTabContent="4">
            <div class="ui tiny form">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="DoctorName" #DoctorName
                    (selectedOptionsChange)="onMultiSelectClick(DoctorName, 'DoctorName')" [hasLabels]="true"
                    [maxSelected]="5" labelField="displayName" valueField="id" [isSearchable]="true"
                    [options]="searchDoctorList" icon="search">
                    <sui-select-option *ngFor="let o of DoctorName.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
          </div>
          <!-- Name -->
          <div class="ui" suiTabContent="1">
            <div class="ui tiny form">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="PatientName" #PatientName
                    (selectedOptionsChange)="onMultiSelectClick(PatientName, 'PatientName')" [hasLabels]="true"
                    [maxSelected]="5" labelField="displayName" valueField="id" [isSearchable]="true"
                    [options]="searchPatientList" icon="search">
                    <sui-select-option *ngFor="let o of PatientName.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
          </div>
          <!-- MRN -->
          <div class="ui" suiTabContent="2">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="MRN" type="text" formControlName="Mrn">
                  <span>{{formErrors.Mrn}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Email -->
          <div class="ui" suiTabContent="3">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Email" type="text" formControlName="Email">
                  <span>{{formErrors.Email}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="ui clearing divider"></div>
          <button [ngClass]="isLoader_FindAppointment ? 'tiny ui orange button loading' : 'tiny ui orange button'"
            class="tiny ui orange button" type="submit" (click)="find()">{{'appointment.find.find' |
            translate}}</button>
          <button class="tiny ui button" (click)="clearForm()">{{'appointment.find.clear' | translate}}</button>
        </sui-tabset>
      </div>


      <!-- Appointment List -->
      <div>
        <!-- <div class="row text-center"> -->
        <div class="ui grid">
          <!-- <div class="col-md-4"> -->
          <div class="six wide column">
            <div class="btn-group">
              <div class="tiny ui orange button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()" (click)="onChangeView(view)">
                Prev.
              </div>
              <div class="tiny ui button" mwlCalendarToday [(viewDate)]="viewDate" (click)="onChangeView(view)">
                Today
              </div>
              <div class="tiny ui orange button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()" (click)="onChangeView(view)">
                Next
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4"> -->
          <div class="four wide column">
            <h3 style="text-align: center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <!-- <div class="col-md-4"> -->
          <div class="six wide column">
            <div class="btn-group">



              <div
                [ngClass]="view === CalendarView.Month? 'right floated tiny ui orange button':'right floated tiny ui button'"
                (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
              </div>
              <div
                [ngClass]="view === CalendarView.Week? 'right floated tiny ui orange button':'right floated tiny ui button'"
                (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
              </div>
              <div
                [ngClass]="view === CalendarView.Day? 'right floated tiny ui orange button':'right floated tiny ui button'"
                (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
              </div>

            </div>
          </div>
        </div>
        <br />
        <div class="ui segment apf-search">
          <!-- <div *ngIf="!isLoader_FindAppointment; else loading;"> -->
          <div [ngSwitch]="view" #scrollContainer>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
              [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)" [eventTemplate]="customWeekTemplate"
              [hourSegments]="4" (hourSegmentClicked)="openAddAppointment($event)" [dayStartHour]="calStartTime"
              [dayEndHour]="calEndTime">
            </mwl-calendar-day-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
              [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)"
              (dayHeaderClicked)="changeDay($event.day.date)" [eventTemplate]="customWeekTemplate" [hourSegments]="4"
              (hourSegmentClicked)="openAddAppointment($event)" [dayStartHour]="calStartTime" [dayEndHour]="calEndTime">
            </mwl-calendar-week-view>
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
              [refresh]="refresh" [cellTemplate]="customCellTemplate" (dayClicked)="changeDay($event.day.date)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>


          </div>
          <!-- </div> -->
        </div>
        <!-- <div *ngFor="let appointment of appointmentList" class="ui segment results" >
        <div class="ui active dimmer" *ngIf="appointment.isLoader_AppointmentOperation">
          <div class="ui small text loader"></div>
        </div>
       
        <div class="results-crsr">
        </div>
      </div> -->
      </div>
    </div>
  </form>
</div>

<ng-template let-context let-modal="modal" #modalAddAppointment let-eventTimesChanged="eventTimesChanged">
  <div class="header">
    <span *ngIf="inputDataForOperation.isEdited">{{'appointment.edit.heading' | translate}}</span>
    <span *ngIf="!inputDataForOperation.isEdited">{{'appointment.add.heading' | translate}}</span>
    <i #closeWizard (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-add-appointment (OutputData)="outputDataFromOperation($event)" [InputData]="inputDataForOperation">
    </app-add-appointment>

    <button class="tiny ui button" (click)="modal.deny()">{{'appointment.add.cancel' | translate}}</button>

  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-openDay="openDay" let-locale="locale"
  let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked" let-eventTimesChanged="eventTimesChanged">

  <div class="cal-cell-top">
    <!-- <span class="cal-day-badge" style="background-color: rgb(211, 77, 29)" *ngIf="day.badgeTotal > 0"
        >{{day.badgeTotal}}</span
      > -->
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div *ngFor="let event of day.events" (mouseenter)="highlightDay.emit({event: event})"
    (mouseleave)="unhighlightDay.emit({event: event})" mwlDraggable [class.cal-draggable]="event.draggable"
    dragActiveClass="cal-drag-active" [dropData]="{event: event}" [dragAxis]="{x: event.draggable, y: event.draggable}"
    (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
    <ng-template let-popup #popupTemplate2>
      <!-- <div class="header">Rating</div> -->
      <!-- <div class="content" style="font-size: .8em"> -->
      <div class="content">
        <span>{{event.toolTip}}</span><br>
        <span>Patient: {{event.title}}</span><br>
        <span>Phone: {{event.patientPhone}}</span><br>
        <span>Practitioner: {{event.doctorName}}</span><br>
        <span *ngIf="event.memo!=null && event.memo!=''">Note: {{event.memo}}</span>
      </div>
    </ng-template>
    <div style="background-color:  #E0E1E2; border-bottom: 2px solid white;" suiPopup [popupTemplate]="popupTemplate2"
      [popupPlacement]="'top'">
      <!-- <small style="border-left: 5px solid #3F4F70"><b> -->
      <small [ngStyle]="{'border-left': getColor(event.doctorId)}"><i *ngIf="event.repeatOn>0" class="history icon"
          style="cursor: pointer;margin: 0 .25rem 0 .25rem;" suiPopup [popupText]="event.popupText" popupInverted
          [popupPlacement]="'top'"></i><b>{{event.start|date:'hh:mm a'}}</b>{{event.title}}</small>
    </div>
  </div>

  <!-- <div class="fill-height"  [contextMenu]="basicMenu" [contextMenuSubject]="day.date"> -->
  <!-- <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div> -->
  <!-- <div class="cal-events">
        <div
          class="cal-event"
          *ngFor="let event of day.events"
          (mouseenter)="highlightDay.emit({event: event})"
          (mouseleave)="unhighlightDay.emit({event: event})"
          [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
          [tooltipPlacement]="tooltipPlacement"
          mwlDraggable
          [class.cal-draggable]="event.draggable"
          dragActiveClass="cal-drag-active"
          [dropData]="{event: event}"
          [dragAxis]="{x: event.draggable, y: event.draggable}"
          (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
        </div>
      </div> -->
  <!-- </div> -->

</ng-template>
<ng-template #loading>
  <!-- <div class="text-center">
        <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
        Loading events...
      </div> -->
  <div class="ui segment modal-loader">
    <div class="ui active dimmer">
      <div class="ui medium text loader">Loading</div>
    </div>
  </div>
</ng-template>
<ng-template #customWeekTemplate let-weekEvent="weekEvent" let-locale="locale" let-eventClicked="eventClicked"
  let-tooltipPlacement="tooltipPlacement" let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody" let-tooltipDisabled="tooltipDisabled">
  <ng-template let-popup #popupTemplate>
    <!-- <div class="header">Rating</div> -->
    <!-- <div class="content" style="font-size: .8em"> -->

    <div class="content">
      <span>{{weekEvent.event.toolTip}}</span><br>
      <span>Patient: {{weekEvent.event.title}}</span><br>
      <span>Phone: {{weekEvent.event.patientPhone}}</span><br>
      <span>Practitioner: {{weekEvent.event.doctorName}}</span><br>
      <span *ngIf="weekEvent.event.memo!=null && weekEvent.event.memo!=''">Note: {{weekEvent.event.memo}}</span>
    </div>
  </ng-template>
  <div class="cal-event" [ngStyle]="getCalStyle(weekEvent.event.doctorId)" suiPopup [popupTemplate]="popupTemplate"
    [popupPlacement]="'top'">
    <!-- <button class="ui right floated icon" type="button" > -->
    <!-- <i class="ui right floated sticky  note outline icon" ></i>-->
    <i *ngIf="weekEvent.event.repeatOn>0 && view==CalendarView.Day" class="large history icon" style="cursor: pointer;"
      suiPopup [popupText]="weekEvent.event.popupText" popupInverted [popupPlacement]="'top'"></i>
    <i class="large trash alternate icon" style="cursor: pointer;" *ngIf="permissions.deleteAppointment"
      (click)="$event.stopPropagation();deleteAppointmentClick(weekEvent)" suiPopup popupText="Cancel" popupInverted
      [popupPlacement]="'top'"></i>
    <i class="large pencil alternate icon" style="cursor: pointer;" *ngIf="permissions.editAppointment"
      (click)="$event.stopPropagation();openEditAppointment(weekEvent)" suiPopup popupText="Edit" popupInverted
      [popupPlacement]="'top'"></i>
    <i class="large bell icon" style="cursor: pointer;"
      (click)="$event.stopPropagation();sendAptNotification(weekEvent)" suiPopup popupText="Send Notification"
      popupInverted [popupPlacement]="'top'"></i><br *ngIf="view===CalendarView.Week" />
    <!-- <i class="icons"  style="cursor: pointer;" (click)="$event.stopPropagation();sendAppointmentEmail(weekEvent)" suiPopup popupText="Send Email Notification" popupInverted [popupPlacement]="'top'">
                <i class=" envelope icon"></i>
                <i class="bottom right corner bell icon"></i>
              </i> -->
    <span>{{weekEvent.event.title}}</span>
    <!-- </button> -->
  </div>
</ng-template>

<ng-template let-context let-modal="modal" #modalDeleteAppointment>
  <div class="header">
    <span>{{'appointment.cancel.heading' | translate}}</span>
    <i #closeWizard (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-delete-appointment [InputData]="inputDataForOperation" (OutputData)="outputDataFromOperation($event)">
    </app-delete-appointment>
  </div>
  <div class="actions">
    <div class="ui tiny">
      <button class="tiny ui orange button" (click)="deleteAppointment()" [disabled]="false">{{'appointment.cancel.yes'
        | translate}}</button>
      <button class="ui tiny button" (click)="modal.deny()">{{'appointment.cancel.no' | translate}}</button>
    </div>
  </div>

</ng-template>