<ng-container *ngIf="submissions && submissions.length > 0; else nosubmission">
  <sui-accordion [closeOthers]="true">
    <sui-accordion-panel *ngFor="let submission of submissions">
      <div title>
        <i class="dropdown icon"></i>
        <span
          >by <strong>{{ submission.submittedBy }}</strong></span
        >
        <div class="ui right floated header">
          <button
            class="ui tiny right floated button eligibilityStatus orange"
            style="min-width: 14rem; padding: 0.35rem; cursor: not-allowed; border-radius: 3.285714rem"
          >
            {{ submission.createdDate }}
          </button>
        </div>
      </div>

      <div content class="ui segment results" (click)="$event.stopPropagation()">
        <app-formio-renderer
          [submission]="submission.submission"
          [form]="form"
          [viewOnly]="true"
          [viewTitle]="false"
          [readOnly]="true"
        >
        </app-formio-renderer>
      </div>
    </sui-accordion-panel>
  </sui-accordion>
</ng-container>
<ng-template #nosubmission>
  <p>No submissions</p>
</ng-template>
