<app-toaster [toaster]="toastData"></app-toaster>

<form novalidate [formGroup]="changePasswordForm">
  <sui-accordion class="styled fluid" *ngIf="loggedInUserData.userType==1">
    <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        {{'settings.changePassword.changePassword' | translate}}
      </div>
      <div content>
        <!-- <div class="ui two column grid">
          <div class="column"> -->
            <div class="ui small form">
              <div class="required inline field">
                <label class="change-pw-label">{{'settings.changePassword.oldPassword' | translate}}</label>
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password reset-pw-input" placeholder="{{'settings.changePassword.oldPassword' | translate}}"
                    formControlName="oldPassword" #oldPassword [type]="showOldPassword ? 'text' : 'password'"/>
                  <a class="ui icon view-pw-small" suiPopup popupInverted
                    popupText="{{ this.showOldPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                    (click)="toggleShow('showOldPassword')">
                    <i [ngClass]="showOldPassword ? 'eye icon' : 'low vision icon'"></i>
                  </a>
                </div>
                <span class="invalid-feedback">
                  <span class="error-msgX">
                    {{formErrors.oldPassword}}
                  </span>
                </span>
              </div>
              <div class="required inline field">
                <label class="change-pw-label">{{'settings.changePassword.newPassword' | translate}}</label>
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password reset-pw-input" placeholder="{{'settings.changePassword.newPassword' | translate}}"
                    formControlName="newPassword" #newPassword [type]="showNewPassword ? 'text' : 'password'"
                    [ngClass]="{'is-invalid': (changePasswordForm.get('newPassword').touched || changePasswordForm.get('newPassword').dirty) && !changePasswordForm.get('newPassword').valid }" />
                  <a class="ui icon view-pw-small" suiPopup popupInverted
                    popupText="{{ this.showNewPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                    (click)="toggleShow('showNewPassword')">
                    <i [ngClass]="showNewPassword ? 'eye icon' : 'low vision icon'"></i>
                  </a>
                </div>
                <span class="invalid-feedback">
                  <span class="error-msgX">
                    {{formErrors.newPassword}}
                  </span>
                </span>
              </div>
              <div class="required inline field">
                <label class="change-pw-label">{{'settings.changePassword.confirmPassword' | translate}}</label>
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password reset-pw-input" placeholder="{{'settings.changePassword.confirmPassword' | translate}}"
                    formControlName="confirmPassword" #confirmPassword [type]="showConfirmPassword ? 'text' : 'password'"
                    [ngClass]="{'is-invalid': (changePasswordForm.get('confirmPassword').touched || changePasswordForm.get('confirmPassword').dirty) && !changePasswordForm.get('confirmPassword').valid }" />
                  <a class="ui icon view-pw-small" suiPopup popupInverted
                    popupText="{{ this.showConfirmPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                    (click)="toggleShow('showConfirmPassword')">
                    <i [ngClass]="showConfirmPassword ? 'eye icon' : 'low vision icon'"></i>
                  </a>
                </div>
                <span class="invalid-feedback">
                  <span class="error-msgX">
                    {{formErrors.confirmPassword}}
                  </span>
                </span>
              </div>
              <button [ngClass]="isLoader ? 'ui normal orange primary button loading' : 'ui orange normal primary button'" (click)="changePassword()">{{ 'settings.changePassword.changePassword' | translate}}</button>
              <!-- <button class="ui normal button" (click)="cancel()">{{ 'settings.changePassword.cancel' | translate}}</button> -->
            </div>
          </div>
          <!-- <div class="column">&nbsp;</div> -->
        <!-- </div>
      </div> -->
    </sui-accordion-panel>
  </sui-accordion>
  <div content *ngIf="loggedInUserData.userType==0">
      <!-- <div class="ui two column grid">
        <div class="column"> -->
          <div class="ui small form">
            <div class="required inline field">
              <label class="change-pw-label">{{'settings.changePassword.oldPassword' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password reset-pw-input" placeholder="{{'settings.changePassword.oldPassword' | translate}}"
                  formControlName="oldPassword" #oldPassword [type]="showOldPassword ? 'text' : 'password'"/>
                <a class="ui icon view-pw-small" suiPopup popupInverted
                  popupText="{{ this.showOldPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                  (click)="toggleShow('showOldPassword')">
                  <i [ngClass]="showOldPassword ? 'eye icon' : 'low vision icon'"></i>
                </a>
              </div>
              <span class="invalid-feedback">
                <span class="error-msgX">
                  {{formErrors.oldPassword}}
                </span>
              </span>
            </div>
            <div class="required inline field">
              <label class="change-pw-label">{{'settings.changePassword.newPassword' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password reset-pw-input" placeholder="{{'settings.changePassword.newPassword' | translate}}"
                  formControlName="newPassword" #newPassword [type]="showNewPassword ? 'text' : 'password'"
                  [ngClass]="{'is-invalid': (changePasswordForm.get('newPassword').touched || changePasswordForm.get('newPassword').dirty) && !changePasswordForm.get('newPassword').valid }" />
                <a class="ui icon view-pw-small" suiPopup popupInverted
                  popupText="{{ this.showNewPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                  (click)="toggleShow('showNewPassword')">
                  <i [ngClass]="showNewPassword ? 'eye icon' : 'low vision icon'"></i>
                </a>
              </div>
              <span class="invalid-feedback">
                <span class="error-msgX">
                  {{formErrors.newPassword}}
                </span>
              </span>
            </div>
            <div class="required inline field">
              <label class="change-pw-label">{{'settings.changePassword.confirmPassword' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password reset-pw-input" placeholder="{{'settings.changePassword.confirmPassword' | translate}}"
                  formControlName="confirmPassword" #confirmPassword [type]="showConfirmPassword ? 'text' : 'password'"
                  [ngClass]="{'is-invalid': (changePasswordForm.get('confirmPassword').touched || changePasswordForm.get('confirmPassword').dirty) && !changePasswordForm.get('confirmPassword').valid }" />
                <a class="ui icon view-pw-small" suiPopup popupInverted
                  popupText="{{ this.showConfirmPassword ?  'Hide password' : 'Show password' }}" popupPlacement="right"
                  (click)="toggleShow('showConfirmPassword')">
                  <i [ngClass]="showConfirmPassword ? 'eye icon' : 'low vision icon'"></i>
                </a>
              </div>
              <span class="invalid-feedback">
                <span class="error-msgX">
                  {{formErrors.confirmPassword}}
                </span>
              </span>
            </div>
            <button [ngClass]="isLoader ? 'ui normal orange primary button loading' : 'ui orange normal primary button'" (click)="changePassword()">{{ 'settings.changePassword.changePassword' | translate}}</button>
            <!-- <button class="ui normal button" (click)="cancel()">{{ 'settings.changePassword.cancel' | translate}}</button> -->
          </div>
        </div>
</form>
