<app-toaster [toaster]="toastData"></app-toaster>
<div id="initialLoad">
  <div class="main-content">

    <form novalidate [formGroup]="findUserForm" *ngIf="!isFormOpen">
      <h1 class="ui header">{{'user.find.heading' | translate}}</h1>
      <div class="ui segment apf-search">
        <button class="tiny ui orange right floated button" type="button" *ngIf="permissions.addUser"
          (click)="openAddUserModal()"><i class="user plus icon"></i>{{'user.find.addUser' | translate}}</button>
        <div class="u-cf-m"></div>
        <sui-tabset>
          <div class="tiny ui secondary menu">
            <a class="item" suiTabHeader="1">{{'user.find.userName' | translate}}</a>
            <a class="item" suiTabHeader="2">{{'user.find.name' | translate}}</a>
            <a class="item" suiTabHeader="3">{{'user.find.email' | translate}}</a>
            <a class="item" suiTabHeader="4">{{'user.find.status' | translate}}</a>
          </div>
          <div class="ui segment selection-area">
            <a class="ui label" *ngIf="findUserForm.value.Name">
              {{'user.find.name' | translate}}: {{findUserForm.value.Name}}
              <i class="delete icon" (click)="clear('Name');"></i>
            </a>
            <a class="ui label" *ngIf="findUserForm.value.UserName">
              {{'user.find.userName' | translate}}: {{findUserForm.value.UserName}}
              <i class="delete icon" (click)="clear('UserName')"></i>
            </a>
            <a class="ui label" *ngIf="findUserForm.value.Email">
              {{'user.find.email' | translate}}: {{findUserForm.value.Email}}
              <i class="delete icon" (click)="clear('Email')"></i>
            </a>
            <a class="ui label" *ngIf="findUserForm.value.Status!=null && findUserForm.value.Status.length>0">
              {{'user.find.status' | translate}}: {{findUserForm.value.Status}}
              <i class="delete icon" (click)="clear('Status')"></i>
            </a>
          </div>
          <!--User Company -->
          <div class="ui" suiTabContent="1">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Username" type="text" formControlName="UserName">
                  <span>{{formErrors.UserName}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Name -->
          <div class="ui" suiTabContent="2">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Name" type="text" formControlName="Name">
                  <span>{{formErrors.Name}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Email -->
          <div class="ui" suiTabContent="3">
            <div class="ui tiny form">
              <div class="five fields mb0">
                <div class="field">
                  <input placeholder="Email" type="text" formControlName="Email">
                  <span>{{formErrors.Email}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Status -->
          <div class="ui" suiTabContent="4">
            <!-- <sui-multi-select [options]="userStatusList" formControlName="Status" labelField="statusName" valueField="statusName" [maxSelected]="5" icon="search" #Status>
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input suiSelectSearch type="text" placeholder="Search options...">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="list icon"></i>
            {{'user.find.options' | translate}}
          </div>
          <div class="scrolling menu">
            <sui-select-option *ngFor="let o of Status.filteredOptions" [value]="o"></sui-select-option>
          </div>
        </sui-multi-select> -->

            <div class="ui tiny form">
              <div class="three fields mb0">
                <div class="field">
                  <sui-multi-select class="selection" formControlName="Status" #Status [hasLabels]="true"
                    [maxSelected]="5" labelField="statusName" valueField="statusName" [isSearchable]="true"
                    [options]="userStatusList" icon="search">
                    <sui-select-option *ngFor="let o of Status.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>
                </div>
              </div>
            </div>
          </div>
          <div class="ui clearing divider"></div>
          <button [ngClass]="isLoader_FindUser ? 'tiny ui orange button loading' : 'tiny ui orange button'"
            class="tiny ui orange button" type="submit" (click)="find(true)">{{'user.find.find' | translate}}</button>
          <button class="tiny ui button" (click)="clearForm()">{{'user.find.clear' | translate}}</button>
        </sui-tabset>
      </div>

      <sui-message class="attached warning" [isDismissable]="false" *ngIf="noRecordsFound_UserList">
        <p>{{noResultsMessage}}</p>
      </sui-message>

      <div *ngIf="userList.length>0">
        <form novalidate [formGroup]="userResultsForm">
          <div class="ui grid">
            <div class="eight wide column">
              <div class="ui mini compact segment sort">
                <div class="inline field sort-dd">
                  <label>Sort by: </label>
                  <sui-select class="selection" [options]="sortingItemsList" formControlName="Sorting"
                    labelField="label" valueField="label" (selectedOptionChange)="sortUsers(Sorting)" #Sorting>
                    <sui-select-option *ngFor="let option of sortingItemsList" [value]="option"></sui-select-option>
                  </sui-select>
                </div>
              </div>
            </div>
            <!--<div class="right aligned eight wide column btn-export">
              <sui-select class="ui mini floating labeled basic icon button" icon="download" (selectedOptionChange)="download($event)"
                [isSearchable]="false" placeholder="Export" #filterSelect>
                <sui-select-option value="PDF"></sui-select-option>
                <sui-select-option value="CSV"></sui-select-option>
              </sui-select>
            </div>-->
          </div>
        </form>

        <!-- User List -->
        <div>
          <div *ngFor="let user of userList" class="ui segment results">
            <div class="ui active dimmer" *ngIf="user.isLoader_UserOperation">
              <div class="ui small text loader"></div>
            </div>
            <div class="results-crsr" (click)="getUserDetails(user)">
              <div class="ui right floated header">
                <button class="ui mini right floated button status green"
                  *ngIf="user.isActive=='Active'">{{user.isActive}}</button>
                <button class="ui mini right floated button status red"
                  *ngIf="user.isActive=='Inactive'">{{user.isActive}}</button>
                <div class="ui right pointing dropdown" suiPopup popupText="Actions" popupInverted suiDropdown
                  (click)="$event.stopPropagation()">
                  <i class="ellipsis horizontal icon"></i>
                  <div class="menu" suiDropdownMenu>
                    <div class="item" *ngFor="let operation of user.operations">
                      <div class="w100" (click)="onUserOperationClick(operation, user)">{{operation.value}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui horizontal list">
                <div class="item">
                  <div class="content">
                    <div class="ui sub header">{{user.name}}
                      <span>&nbsp;&nbsp;<i class="user outline icon"></i>{{user.contact.name.firstName}}
                        {{user.contact.name.lastName}}</span>
                    </div>
                    <div class="item">
                      <strong> {{'user.find.creationDate' | translate}}: </strong>{{user.createdOn}}<span
                        class="separator">|</span>
                      <strong> {{'user.find.phone' | translate}}:
                      </strong>{{user.contact.phone!=null ? (user.contact.phone | mask: '000-000-0000'): '--'}}<span
                        class="separator">|</span>
                      <!-- <strong> {{'user.find.fax' | translate}}: </strong>{{user.contact.fax!='' ? user.contact.fax : '--'}}<span class="separator">|</span> -->
                      <strong> {{'user.find.email' | translate}}:
                      </strong>{{user.contact.email!=null ? user.contact.email : '--'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- User Details -->
            <div class="ui divided list" [suiTransition]="transitionController" *ngIf="user.showDetails"
              style="cursor: default">
              <div class="item">
                <i class="map marker icon"></i>
                <div class="content">
                  <strong>{{'user.find.address' | translate}}:
                  </strong>{{user.userDetails.fullAddress != '' ? user.userDetails.fullAddress : '--'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-pagination [pager]="pager" (OutputData)="fetchUser($event)"></app-pagination>
      </div>
    </form>

    <ng-container *ngIf="isFormOpen">
      <h1 class="ui header" *ngIf="!inputDataForOperation.isEdit">{{'user.add.heading' | translate}}</h1>
      <h1 class="ui header" *ngIf="inputDataForOperation.isEdit">{{'user.edit.heading' | translate}}</h1>

      <div class="ui segment">


        <app-add-user (OutputData)="outputDataFromOperation($event)" [InputData]="inputDataForOperation"></app-add-user>
      </div>
    </ng-container>

  </div>
</div>