<app-toaster [toaster]="toastData"></app-toaster>
<div id="initialLoad">
  <form novalidate [formGroup]="findRoleForm">
    <div class="main-content">
      <h1 class="ui header">{{'role.find.heading' | translate}}</h1>
      <div class="ui segment apf-search">
        <button class="ui orange tiny teal right floated button" type="button" *ngIf="permissions.addUpdateRoles"
          (click)="openAddRole()"><i class="user outline icon"></i>{{'role.find.addRole' | translate}}</button>
        <div class="u-cf-m"></div>

        <sui-tabset>

          <div class="ui tiny secondary menu">
            <a class="item" suiTabHeader="1">{{'role.find.roleName' | translate}}</a>
          </div>

          <div class="ui segment selection-area">
            <a class="ui label" *ngIf="findRoleForm.value.RoleName!=null && findRoleForm.value.RoleName.length>0">
              {{'role.find.roleName' | translate}}: {{displayFilter}}
              <i class="delete icon" (click)="clear('RoleName')"></i>
            </a>
          </div>

          <!-- Role Name/Id -->
          <div class="ui" suiTabContent="1">
            <div class="ui tiny form">
              <div class="three fields mb0">
                <div class="field">

                  <sui-multi-select class="selection" formControlName="RoleName" #RoleName
                    (selectedOptionsChange)="onMultiSelectClick(RoleName)" [hasLabels]="true" [maxSelected]="5"
                    labelField="roleName" valueField="id" [isSearchable]="true" [options]="roleLookupList"
                    icon="search">
                    <sui-select-option *ngFor="let o of RoleName.filteredOptions" [value]="o"></sui-select-option>
                  </sui-multi-select>

                  <span>{{findRoleFormErrors.RoleName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="ui clearing divider"></div>
          <button
            [ngClass]="isLoader_FindRole ? 'ui orange tiny primary button loading' : 'ui orange tiny primary button'"
            class="normal ui primary button" type="submit" (click)="find()">{{'role.find.find' |
            translate}}</button>
          <button class="ui tiny button" (click)="clearForm()">{{'role.find.clear' | translate}}</button>
        </sui-tabset>
      </div>


      <sui-message class="attached warning" [isDismissable]="false" *ngIf="noRecordsFound_RoleList">
        <p>{{noResultsMessage}}</p>
      </sui-message>

      <ng-container *ngIf="roleList.length>0">
        <form novalidate [formGroup]="roleResultsForm">
          <div class="ui grid">
            <div class="eight wide column">
              <div class="ui mini compact segment sort">
                <div class="inline field sort-dd">
                  <label>Sort by: </label>
                  <sui-select class="selection" [options]="sortingItemsList" formControlName="Sorting"
                    labelField="label" valueField="label" (selectedOptionChange)="sortItems(Sorting)" #Sorting>
                    <sui-select-option *ngFor="let option of sortingItemsList" [value]="option"></sui-select-option>
                  </sui-select>
                </div>
              </div>
            </div>
            <!-- <div class="right aligned eight wide column btn-export">
              <sui-select class="ui mini floating labeled basic icon button" icon="download"
                (selectedOptionChange)="download($event)" [isSearchable]="false" placeholder="Export" #filterSelect>
                <sui-select-option value="PDF"></sui-select-option>
                <sui-select-option value="CSV"></sui-select-option>
              </sui-select>
            </div> -->
          </div>
        </form>
        <!-- Role List -->
        <ng-container>
          <div *ngFor="let role of roleList" class="ui segment results">
            <div class="ui active dimmer" *ngIf="role.isLoader_RoleOperation">
              <div class="ui small text loader"></div>
            </div>
            <div class="results-crsr" (click)="showRoleDetails(role)">
              <div class="ui right floated header">
                <button class="ui mini right floated button status green"
                  *ngIf="role.isActive=='1'">{{'Active'}}</button>
                <button class="ui mini right floated button status red"
                  *ngIf="role.isActive=='0'">{{'InActive'}}</button>
                <div class="ui right pointing dropdown" suiPopup popupText="Actions" popupInverted suiDropdown
                  (click)="$event.stopPropagation()">
                  <i class="ellipsis horizontal icon"></i>
                  <div class="menu" suiDropdownMenu>
                    <div class="item" *ngFor="let operation of role.operations">
                      <div class="w100" (click)="onRoleOperationClick(operation, role)">{{operation.value}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="ui horizontal list">
                <div class="item">
                  <div class="content">
                    <div class="ui sub header">{{role.roleName}}</div>
                    <div class="item">
                      <strong> {{'role.find.description' | translate}}: </strong>
                      {{(role.description!=null && role.description!='')? role.description : '--'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui divided list" [suiTransition]="transitionController" *ngIf="role.showDetails"
              style="cursor: default">
              <sui-accordion [closeOthers]="true">
                <sui-accordion-panel *ngFor="let module of moduleList">
                  <div title>
                    <i class="dropdown icon"></i>
                    {{module.name | translate}}
                  </div>
                  <div content class="ui segment results" (click)="$event.stopPropagation()">
                    <div class="ui divided list">
                      <ng-container *ngFor="let feature of module.features; index as i">
                        <div class="item">
                          <div class="content">
                            <i class="circle icon positive" *ngIf="isEnabled(role, feature)"
                              style="padding-top: 4px;"></i>
                            <i class="circle icon negative" *ngIf="!isEnabled(role, feature)"
                              style="padding-top: 4px;"></i>
                            {{feature.featureName}}
                          </div>
                        </div>
                        <div style="margin: 5px 0px; border-top: 1px solid #ddd;"
                          *ngIf="(module.features.length) >  (i+1)"></div>
                      </ng-container>
                    </div>
                  </div>
                </sui-accordion-panel>
              </sui-accordion>
            </div>

          </div>
        </ng-container>
        <app-pagination [pager]="pager" (OutputData)="fetchRole($event)"></app-pagination>
      </ng-container>

    </div>
  </form>
</div>

<!-- Add Role Modal starts -->
<ng-template let-context let-modal="modal" #modalAddRole>
  <div class="header">
    <span *ngIf="inputDataForOperation.isEdit">{{'role.edit.heading' | translate}}</span>
    <span *ngIf="!inputDataForOperation.isEdit">{{'role.add.heading' | translate}}</span>
    <i #closeWizard (click)="modal.deny()" class="close link icon item-right"></i>
  </div>
  <div class="content">
    <app-add-role (OutputData)="outputDataFromOperation($event)" [InputData]="inputDataForOperation"></app-add-role>
  </div>
</ng-template>
<!-- Add Role Modal ends -->